table,
tr,
th,
td {
    border: none;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

.header {
    border-bottom: none;
    text-align: center;
    padding-top: 20px;
}

.menu td {
    width: 80px;
    text-align: center;
    height: 300px;
}

.menu td a {
    width: 80px;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: large;
    color: white;
}

a:hover {
    color: cyan;
}

div {
    padding: 5px;
}

div:hover {
    background-color: grey;
}

div:active {
    background-color: rgb(98, 98, 98);
}