table,
tr,
th,
td {
    /* border: 1px solid grey; */
    border-collapse: collapse;
    border-style: line;
    width: 100%;
    margin: auto;
}

table {
    border: 1px solid grey;
}

/* .menu {
    border: 1px solid black;
} */

.header {
    border: 1px solid grey;
    border-bottom: none;
    text-align: center;
    padding-top: 20px;
}

.menu td {
    width: 80px;
    text-align: center;
    height: 30px;
    border: 1px solid black;
    background-color: black;
}

.menu td a {
    width: 80px;
    text-align: center;
    text-decoration: none;
}

a {
    text-decoration: none;
    font-size: large;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;;
}

a:hover {
    color: cyan;
}

div {
    /* border: 1px solid black; */
    padding: 5px;
    /* padding-top: none;
    padding-bottom: none; */
}

div:hover {
    /* border: 1px solid black; */
    background-color: grey;
}

div:active {
    background-color: black;
}